<!-- Loader -->
<div *ngIf="!messagesList" class="flex">
  <img src="assets/loader.svg" alt="chargement" />
</div>

<main *ngIf="messagesList">
  <div class="container_accueil">
    <div class="row">

      <!-- Premiere card -->
      <div class="col s12 m6">
        <a routerLink="/finance" [ngClass]="{'btn-flat disabled': isCommerce || isLogistic }">
          <div class="card">
            <div class="card-content">
              <h2 class="center-align">FINANCE</h2>
              <h2 class="center-align" aria-hidden="true"><i class="large material-icons">dashboard</i></h2>
            </div>
          </div>
        </a>	
      </div>

      <!-- Deuxieme card -->
      <div class="col s12 m6">
        <a routerLink="/commerce" [ngClass]="{'btn-flat disabled': isFinance || isLogistic }">
          <div class="card">
            <div class="card-content">
              <h2 class="center-align">COMMERCE</h2>
              <h2 class="center-align" aria-hidden="true"><i class="large material-icons">dashboard</i></h2>
            </div>
          </div>	
        </a>
      </div>

      <!-- Troisieme card -->
      <div class="col s12 m6">
        <a routerLink="/direction" [ngClass]="{'btn-flat disabled': isCommerce || isLogistic || isFinance }">
          <div class="card">
            <div class="card-content">
              <h2 class="center-align">DIRECTION</h2>
              <h2 class="center-align" aria-hidden="true"><i class="large material-icons">dashboard</i></h2>
            </div>
          </div>	
        </a>
      </div>

      <!-- Quatrieme card -->
      <div class="col s12 m6">
        <a routerLink="/logistique" [ngClass]="{'btn-flat disabled': isCommerce || isFinance }">
          <div class="card">
            <div class="card-content">
              <h2 class="center-align">LOGISTIQUE</h2>
              <h2 class="center-align" aria-hidden="true"><i class="large material-icons">dashboard</i></h2>
            </div>
          </div>	
        </a>
      </div>
    </div>

  </div>

  <div class="row flex">

    <!-- Messages -->
    <div class="margin10 col s12 l10" *ngIf="messagesList">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Derniers messages</span>
          <div *ngIf="messagesList.length === 0" class="flex">
            Pas de messages...
          </div>
          <ul class="badge-updates">
            <li *ngFor="let message of messagesList.reverse() | slice:0:3">
              <span class="new badge orange" data-badge-caption="">{{message.destinataire}}</span>
              <span class="message">{{message.texte}}</span>
              <span class="time">{{message.date | untilNow}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>

  <!-- Bouton Flottant -->
  <div class="fixed-action-btn ">
    <button id="add" class="btn-floating btn-large waves-effect waves-light orange z-depth-3 modal-trigger" (click)="openDialog()" aria-label="Ajouter un message">
      <i class="material-icons">add</i>
    </button>
  </div>

  <!-- Tap Target Structure -->
  <div class="tap-target" data-target="add">
    <div class="tap-target-content">
      <h4>Messages</h4>
      <p>Pour écrire un message pour un service cliquez sur le bouton <strong>+</strong></p>
    </div>
  </div>

</main>
