<main>
  <div class="container">
    <div class="row flex">

      <!-- Card Connexion -->
        <div class="col s12 m8 l6 xl4 no-margin">
          <div class="card">
            <div class="card-content">
                <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                  <h1>Connexion</h1>

                  <div class="row">

                    <mat-form-field class="col s12">   
                      <input matInput type="text" placeholder="Identifiant" formControlName="username">
                      <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                        L'identifiant est <strong>obligatoire</strong>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col s12">  
                      <input matInput type="password" placeholder="Mot de passe" formControlName="password">
                      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        Le mot de passe est <strong>obligatoire</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="flex right">
                    <button class="btn orange waves-effect waves-light mat-select-trigger" type="submit" name="action">Connexion
                      <i class="material-icons right no-padding">send</i>
                    </button>
                  </div>

                </form>
            </div>
          </div>	
        </div>
    </div>
  </div>
</main>

