@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat:black");

html {
  font-family: "Montserrat" !important;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat" !important;
  background-color: #f5f5f5 !important;
}

router-outlet {
  display: none;
}

.border {
  border: solid black 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: #eee;
}

.badge-updates li {
  margin-top: 8px;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}

input {
  border: 0 !important;
  box-shadow: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 20px 0px !important;
}

.mat-form-field {
  font-family: "Montserrat" !important;
  font-size: 20px !important;
}

.mat-select-trigger {
  margin: 10px 0px !important;
}

.mat-select, .mat-option {
  font-family: "Montserrat" !important;
}

.mat-form-field-infix {
  padding: 0 !important;
}

nav ul a {
  padding: 0 20px !important;
}

main {
  flex: 1 0 auto;
}

.black {
  background-color: black;
}

.margin10 {
  margin: 10px !important;
}

button {
  margin: 15px !important;
}

.mat-table, .mat-raised-button {
  font-family: "Montserrat" !important;
}

/* --Perso--- */

.flex {
  display: flex;
  justify-content: center !important;
}

.center {
  align-items: center;
}

.right {
  justify-content: flex-end !important;
}

.noMarginLeft {
  margin-left: 0 !important;
}

.column {
  flex-direction: column;
}

.tableau {
  width: 60%;
}

.mat-header-cell {
  font-size: 15px !important;
}

button {
  font-family: "Montserrat" !important;
}

button:focus {
  background-color: white !important;
  color: black !important;
}

button:focus span {
  color: black !important;
}

.mat-raised-button.mat-primary {
  color: white;
}

.brand-logo img {
  height: 64px;
}

.logo-centre {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}

#chartEncoursClients, #chartEncoursFournisseurs {
  width: auto !important;
  height: auto !important;
}

.btn-flat i {
  line-height: 1 !important;
}

.btn-flat {
   display: block !important; 
   padding: 0 !important; 
   height: auto !important;
}

.centre {
  left: 50%;
  transform: translateX(-50%);
}

.titre {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 900;
}

.chiffres {
  position: absolute;
  top: 56%;
  transform: translate(0%, -50%);
}

.sous-titre {
  font-size: 18px;
  font-weight: 500;
}

main .container {
  margin-top: 20px;
  width: 90% !important;
  max-width: 100% !important;
}

/* .col {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
} */

.container_connexion {
  margin: 20px auto 0 auto;
  width: 40% !important;
  max-width: 100% !important;
}

.container_accueil {
  margin: 20px auto 20px auto;
  width: 50% !important;
  max-width: 100% !important;
}

.l4 .dessous {
  margin-top: 0;
}

main a {
  color: #000 !important;
}

main a:hover {
  color: #ffa000 !important;
}

.no-margin {
  margin: 0 !important;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardheight {
  height: 280px;
}

.card h4 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 2.1rem;
  font-weight: 700;
}

.card h5 {
  padding: 20px;
  margin: 0;
  font-weight: 600;
}

h5 span {
  font-size: 2rem;
  font-weight: 900;
}

.card i {
  padding-top: 5px;
}

.container_connexion .card i {
  padding-top: 0px !important;
}

.nav-wrapper a:hover {
  color: #ffa000;
}

.page-footer, .pad-top {
  padding-top: 10px !important;
}

.row .col {
  padding: 0 10px !important;
}

.row {
  margin-bottom: 25px !important;
}

.card-metric {
  padding: 20px;
  text-align: center;
}

.card .card-metrics {
  display: flex;
}

.card .card-metrics.card-metrics-centered .card-metric,
.card-content-centered {
  flex: 1;
}

.card .card-metrics .card-metric:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card-metric.active {
  border-top: 3px solid #000;
}

.card-metric-value {
  font-size: 26px;
  font-weight: 900;
}

.card-metric-change {
  font-size: 12px;
  line-height: 24px;
}

em {
  font-style: normal !important;
  font-size: 100px;
  font-weight: 900;
}

strong {
  font-weight: 900 !important;
}

.card-metric.centre-horizontal {
  line-height: 1;
}

i {
  margin-right: 0 !important;
  vertical-align: bottom;
}

.card-metric-change.increase {
  color: #4caf50;
}

.card-metric-change.decrease {
  color: #f44336;
}

.card-content {
  padding: 24px;
  margin-bottom: -10px;
}

canvas {
  margin-bottom: -10px;
  margin-top: -10px;
}

.badge-updates li {
  line-height: 22px;
  margin-bottom: 8px;
}

.badge {
  float: left !important;
  margin: 0 16px 0 0;
}

.time {
  float: right;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.modal-content h4 {
  padding-bottom: 20px;
}

footer {
  font-weight: 250;
}

.vmap {
  height: 300px;
}

@media only screen and (min-width: 1201px) {
  .vmap {
    height: 500px;
  }
}

@media only screen and (min-width: 1601px) {
  .vmap {
    height: 700px;
  }

  .tableau {
    width: 40%;
  }
}

@media only screen and (min-width: 1601px) {
  .row .col.xxl1 {
    width: 8.3333333333% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl2 {
    width: 16.6666666667% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl3 {
    width: 25% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl4 {
    width: 33.3333333333% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl5 {
    width: 41.6666666667% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl6 {
    width: 50% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl7 {
    width: 58.3333333333% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl8 {
    width: 66.6666666667% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl9 {
    width: 75% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl10 {
    width: 83.3333333333% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl11 {
    width: 91.6666666667% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl12 {
    width: 100% !important;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .nav-wrapper img {
    height: 56px !important;
  }

  .cardheight {
    height: 190px;
  }

  .tableau {
    width: 100% !important;
  }
}

.nav-wrapper img {
  height: 64px;
}

@media only screen and (max-width: 992px) {
  .container_accueil {
    width: 100% !important;
  }

  .container_connexion {
    width: 90% !important;
  }

  .tableau {
    width: 90%;
  }

  nav .brand-logo.left {
    left: 0rem !important;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 1200px) {
  i.large {
    font-size: 5rem !important;
  }

  em {
    font-size: 75px !important;
  }
}

@media only screen and (max-width: 1200px) {
  i.large {
    font-size: 4rem !important;
  }

  em {
    font-size: 60px !important;
  }
}
