@import '~@angular/material/theming';

@include mat-core();

$theme-charte-primary: mat-palette($mat-orange);
$theme-charte-accent:  mat-palette($mat-orange, A200, A100, A400);
$theme-charte-warn:    mat-palette($mat-red);

$theme-charte: mat-light-theme($theme-charte-primary, $theme-charte-accent, $theme-charte-warn);

@include angular-material-theme($theme-charte);