<header>
  <nav class="black mat-elevation-z6">
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo left">
        <img src="assets/logo_xo.png"/>
      </a>
      <div class="titre grey-text hide-on-small-only">{{service}}</div>
      <ul class="right">
        <li><a routerLink="accueil"><i class="material-icons">view_module</i></a></li>
        <li><a class="modal-trigger" routerLink="deconnexion"><i class="material-icons">power_settings_new</i></a></li>
      </ul>
    </div>
  </nav>	
</header>		
